*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
}

.form-register{
    width: 420px;
    background-color: #fd7f06;
    padding: 20px 30px 10px 30px;
    margin: auto;
    margin-top: 80px;    
    border-radius: 5px;
    font-family: "calibri";
    color: #eee;
    box-shadow: 10px 10px 10px white;
    
    

}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.form-register .boton{
width: 100%;
background-color: #44aa44;
border: none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
font-size: 18px;
}

.boton:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.5);
    opacity: 0.9;
    color: black;

}

.form-register .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;    
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}
.form-register .btn-cerrar-popup:hover {
	color: #000;
}