* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #eee;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}
.cabecera{
    margin-top:70;
    background-color: #fd7f06;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid white;    
    color: #eee;
    position:fixed ;
    top: 0;
    left: 0;
    z-index: 100;
}
h1{
    float: left;
    display: inline;
    margin-top: 18px;
    margin-left: 30px;
    cursor: pointer;
    
}
.buscar{

    margin-top: 20px;
    width: 30%;
    margin-left: 120px;
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 5px;
    border:2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color:black;
}

.icon-search{
    font-size: 28px;
    cursor: pointer;
}

.icon-login{
    font-size: 23px;
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
    color: #eee;
}

.icon-checkin{
    font-size: 23px;
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
    color: #eee;
}

.icon-menu {
font-size: 23px;
cursor: pointer;
margin-left: 40px;
text-decoration: none;
color: #eee;
}

/* diseño del banner */

.banner{
    margin-top: 70px;
    
   
    
}
.banner img{
    
    width: 100%;
    height: 350px;
    }
    


.banner h2{
position: absolute;
top: 80px;
left: 73px;    
}

/* diseño de contenido */

.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.product-container{
    transition: box-shadow 0.3s ease;
    background-color:#fff;
    padding: 5px;
    margin: 15px;
    position: relative;
    cursor:pointer;
    height: 320px;
    
   
}

.product-container:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.5);
}

.product-container img{
    width: 300px;
    height: 200px;
}
.icon-eye{
    width: 100px;
    transition: color 0.4s ease;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 5px ;
    background-color:white ;
    color:black;
    border: 1.5px solid black;
    
}
.icon-eye:hover{
    background-color:#44aa44    ;
    color: white;
    cursor:pointer;
}

.icon-buy{
    
    transition: color 0.4s ease;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 5px ;
    background-color:white ;
    color:black;
    border: 1.5px solid black;
    
}
.icon-buy:hover{
    background-color:#44aa44    ;
    color: white;
    cursor:pointer;
}
.icon-list{
    
    transition: color 0.4s ease;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 5px ;
    background-color:white ;
    color:black;
    border: 1.5px solid black;
}

.icon-list:hover{
    background-color:#44aa44    ;
    color: white;
    cursor:pointer;
}


footer{
    width: 100%;
    height: 100px;
    background-color: #f29417;
}

.contacto{
    
    font-size: 25px;
    margin-left: 90%;
    padding: 20px;
    cursor: pointer;
}

.contacto:hover{
color: white;
}

.icon{
    margin-top: -25px;
    font-size: 35px;
    margin-left: 45%;
}

.icon-facebook:hover{
color: white;
cursor: pointer;
}
.icon-twitter:hover{
color: white;
cursor: pointer;
}
.icon-instagram:hover{
color: white;
cursor: pointer;
}

.copy{
    margin-left: 10px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}






/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	margin-top: 100px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
.popup img{
    width: 300px;
    height: 200px;
    float: left;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 40px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
    
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form h2,p{
    text-align: left;
}

.popup form .contenedor-inputs input {
	
    width: 100%;
    margin-top: 20px;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: left;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }


@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

