<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' type='text/css' href='../static/css/admin.css' />
        <link rel="stylesheet" href="../static/css/fontello.css" type="text/css"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
    </head>
    <body>
        <div class="form-register">
            <h4>Centro Administrativo</h4>  
            <form  action="/adminproduct/">          
                <button class="boton"  type="submit"><span class="icon-shop"></span>Productos</button>
            </form>
            
            <form  action="/adminuser/">
                <button class="boton"  type="submit"><span class="icon-group"></span>Usuarios</button>
            </form>        

        </div>
    </body>
</html>