<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' type='text/css' href='../static/css/admin.css' />
        <link rel="stylesheet" href="../static/css/fontello.css" type="text/css"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
       
        <title>Admin</title>
    </head>
    <body>

        <div class="form-register">
            <a href="/index/" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a> 
            <h4>Centro Administrativo</h4> 
            <form  action="/adminproduct/">          
                <button class="boton"  type="submit"><span class="icon-shop"></span>Productos</button>
            </form>
            
            <form  action="/adminuser/">
                <button class="boton"  type="submit"><span class="icon-group"></span>Usuarios</button>
            </form>        

        </div>
    </body>
</html>