<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" href="../static/css/login.css" type="text/css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

  
    
  <form name='flogin' id='flogin' action='/login/' method='POST'>
    <div class="login">
      <h4>Mi cuenta</h4>
      {%with messages=get_flashed_messages() %}
      {%if messages%}
      {% for message in messages %}
      <h2>{{message}}</h2> 
      {% endfor %}
      {% endif %}
      {% endwith %}
        
        <input class="usuario" type="email" name="email" id="email" placeholder="Ingrese su usuario"><br>
        <input class="usuario" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
        <button class="boton"  type="submit">Iniciar sesión</button>
        <p class="recuperar" ><a href="../templates/recuperar.html">Olvide mi contraseña</a></p> 
    </div>
  </form>



</body>
</html>