<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/recuperar.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="restore" method="POST">
        <a href="/login/" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
        <h4>Recuperación de contraseña</h4>
        {%with messages=get_flashed_messages() %}
        {%if messages%}
        {% for message in messages %}
        <h2>{{message}}</h2> 
        {% endfor %}
        {% endif %}
        {% endwith %}
        <input class="correo" type="email" name="email" id="email" placeholder="Ingrese su correo electronico"><br>
        <input class="correo" type="email" name="emailcon" id="email" placeholder="Confirme su correo electronico">
        <button class="boton"  type="submit" >Enviar</button>


    </form>



</body>
</html>