<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/recuperar.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="restore">
        <h4>Recuperación de contraseña</h4>
        <input class="correo" type="email" name="email" id="email" placeholder="Ingrese su correo electronico"><br>
        <input class="correo" type="email" name="email" id="email" placeholder="Confirme su correo electronico">
        <button class="boton" onclick="location.href='../templates/index.html'">Enviar</button>


    </div>



</body>
</html>