<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/registro.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/fontello.css" type="text/css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
   
    <form class="form-register" action="/register/" method="POST">
        <h4>Formulario de Registro</h4> 
        <label for="name">Nombres:<br>  
        <input class="controls" type="text" name="name" id="nombres" minlength="1" maxlength="50" required placeholder="Ingrese su nombre">
        <label for="lastname">Apellidos:<br>  
        <input class="controls" type="text" name="lastname" id="apellidos" minlength="1" maxlength="50" required placeholder="Ingrese su apellido">
        <label for="email">Correo electronico:<br>  
        <input class="controls" type="email" name="email" id="correo" minlength="1" maxlength="50" required placeholder="Ingrese su correo electronico"><br>
        <label for="contraseña">Contraseña:<br>
        <input class="controls"type="password" name="pass" id="contraseña" minlength="5" maxlength="15" required pattern="[a-zA-Z0-9]+" required placeholder="Solo puede tener numeros y letras">
        <label class="terminos"><input class="box" type="checkbox" id="cbox1" value="first_checkbox"> Estoy de acuerdo con <a href="#"><strong>Terminos y Condiciones</strong> </a></label>
        <button class="boton"  type="submit">Crear cuenta</button>
        <p class="cuenta"><a href="/login/">¿Ya tengo cuenta?</a></p> 
         

    </form>


</body>
</html>